.wrap{
	
}
.scroll{
	width: 100%;
	height: 2rem;
}
.color1{
	background-color: palegoldenrod;
}
.color2{
	background-color: palegreen;
}
.color3{
	background-color: paleturquoise;
}
.color4{
	background-color: palevioletred;
}
.color5{
	background-color: papayawhip;
}
.color6{
	background-color: peachpuff;
}
.color7{
	background-color: peru;
}
.color8{
	background-color: pink;
}